.gcf_metaboxes_table {
    border-collapse: collapse;
    width: 100%;
}

.gcf_metaboxes_table .last th, .gcf_metaboxes_table .last td {
    border: 0 none;
}
.gcf_metaboxes_table th, .gcf_metaboxes_table td {
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.gcf_metaboxes_table th {
    color: #222222;
    font-family: sans-serif;
    font-size: 12px;
}
.gcf_metabox_names {
    width: 20%;
}
.gcf_metaboxes_table .last th, .gcf_metaboxes_table .last td {
    border: 0 none;
}
.gcf_metaboxes_table th, .gcf_metaboxes_table td {
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.gcf_metabox_fields {
    width: 70%;
}
.gcf-meta-radio-img-img {
    border: 3px solid #DEDEDE;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    margin: 0 5px 10px 0;
}

.gcf-meta-radio-img-img:hover, .gcf-meta-radio-img-selected {
    border: 3px solid #333;
    border-radius: 3px;
}
